{% extends "pages/dashboard.html" %} {% block content %}
<div class="container" style="margin-left: 300px;"">
  <h2>Auctions {{company.id}}</h2>
  <table class="table">
    <tr>
      <th>Company name</th>
      <th>Description</th>
      <th>Starting Price</th>
      <th>Category</th>
      <th>Active</th>
    </tr>

    {% for auction in object_list %}
    <tr>
      <td>{{ auction.company.name }}</td>
      <td>{{auction.description}}</td>
      <td>{{auction.starting_price}}</td>
      <td>{{auction.category}}</td>
      <td>{{auction.active}}</td>
      <td>
        <a href="{% url 'auction-detail' pk=auction.id %}"><button >Detail</button></a>
      </td>

    </tr>
    {% endfor %}
  </table>

  <a class="nav-link" href="{% url 'auction-create' %}">
    <i class="fa fa-fw fa-table"></i>
    <span class="nav-link-text">Add an Auction</span>
  </a>
</div>

{% endblock content%}
