

{% extends "pages/dashboard.html" %} {% block content %}
<div class="container" style="margin-left: 300px;"">
  <h4 class="text-primary">This is Auction Details </h4>
<!-- This is the Name of the comapny row -->
    <div class="row">
        <div class="col"><h5>company Name: </h5></div>
        <div class="col">{{my_auction.company}}</div>
    </div>
    <!-- this is the description row -->
    <div class="row">
      <div class="col"><h5>Auctin Description: </h5></div>
      <div class="col">{{my_auction.description}}</div>
    </div>

     <!-- this is the starting_price row -->
     <div class="row">
      <div class="col"><h5>Bid Starting Price: </h5></div>
      <div class="col">{{my_auction.starting_price}}</div>
    </div>

     <!-- this is the category row -->
     <div class="row">
      <div class="col"><h5>Auctin Category: </h5></div>
      <div class="col">{{my_auction.category}}</div>
    </div>
    <!-- this is the created_at row -->
    <div class="row">
     <div class="col"><h5>Auctin was created at : </h5></div>
     <div class="col">{{my_auction.created_at}}</div>
   </div>
     <!-- this is the active row -->
     <div class="row">
      <div class="col"><h5>Auction is active: </h5></div>
      <div class="col">{{my_auction.active}}</div>
    </div>

    <div class="container">
      <a href="{% url 'auction-update' pk=my_auction.id %}">
          <p>

          </p>
        <button>Edit</button>
      </a>
    </div>

    <div class="container">

      
    </div>
  </div>

{% endblock content%}
